<div class="container-fluid" style="padding-bottom: 500px">
  <div class="table-responsive">
  <table class="table table-striped table-bordered mt-5">
    <thead>
      <th class="text-primary">Sno</th>
      <th class="text-primary">Category</th>
      <th class="text-primary">Medicine</th>
      <th class="text-primary">Price Per Tablet</th>
      <th class="text-primary">Expiry</th>
      <th class="text-primary">Quantity</th>
      <th class="text-primary">Amount</th>
      <th class="text-primary">Delete</th>
    </thead>
    <tr *ngFor="let i of s;let in=index">
      <td>{{in+1}}</td>
      <td>{{i.category}}</td>
      <td>{{i.medicine}}</td>
      <td>{{i.price}}</td>
      <td>{{i.expiry}}</td>
      <td>{{i.quant}}</td>
      <td>{{i.amount}}</td>
      <td><button type="button" (click)="delete(i,in)" class="btn btn-danger">X</button></td>
    </tr>
    
  </table>
  <div class="card">
      <div class="card-footer float-right"> 
          <h5>Total amount:{{s.amount}}</h5>
      </div>
    </div>
</div>
</div>