<div class="container">
    <h2 class="text-center" class="text-info">Forget Password</h2>
    <br/>
    <form #ref="ngForm">
      <div class="form-group">
      <label style="color:green" for="#abc">New Password</label>
      <input type="password" name="password" class="form-control" id="abc">
      </div>
      <div class="form-group">
        <label style="color:green" for="#bcd">Confirm Password</label>
        <input type="password" name="password" class="form-control" id="bcd">
      </div>
      <button type="submit" class="btn btn-success">Submit</button> 
    </form>
</div>