<div class="container-fluid jumbotron" style="padding-bottom: 500px">
  <br/>
  <h2 style="text-shadow: 2px 2px 2px white;color:green">Most common diseases:</h2>

  <div class="row">  
    <div class="col-sm-4">
      <ul>
        <li>
          <a href="#ref" data-toggle="modal" style="font-size:25px">
            Allergies
          </a>
          <div id="ref" class="modal fade">
            <div class="modal-dialog modal-lg modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header d-block mx-auto text-danger">
                  <h3>ALLERGIES</h3>
                </div>
                <div class="modal-body">
                <img src="assets\allergy.jpg" width="200px" height="150px">
                <h4 style="color:mediumvioletred"><br/>What is an allergy?</h4>
                <h6 class="ml-2">An allergy refers to an exaggerated reaction by the immune system in response to exposure to certain foreign substances. The response is exaggerated because these foreign substances are normally seen by the body as harmless in nonallergic individuals and do not cause a response in them. In allergic individuals, the body recognizes the foreign substance, and the allergic part of the immune system generates a response.
                Allergy-producing substances are called "allergens." Examples of allergens include pollens, dust mites, molds, animal proteins, foods, and medications. When an allergic individual comes in contact with an allergen, the immune system mounts a response through the IgE antibody. People who are prone to allergies are said to be allergic or "atopic."
                </h6>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-success" data-dismiss="modal">close</button>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li>
          <a href="#ref1" data-toggle="modal" style="font-size:25px;color:mediumvioletred">
            Arthritis
          </a>
          <div id="ref1" class="modal fade">
            <div class="modal-dialog modal-lg modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header d-block mx-auto text-danger">
                  <h3 >ARTHRITIS</h3>
                </div>
                <div class="modal-body">
                <img src="assets\arthritis.jpg" width="200px" height="150px">
                <h4 style="color:mediumvioletred"><br/>What is arthritis?</h4>
                <h6 >Arthritis is a joint disorder featuring inflammation. A joint is an area of the body where two different bones meet. A joint functions to move the body parts connected by its bones. Arthritis literally means inflammation of one or more joints.
                    Arthritis is frequently accompanied by joint pain. Joint pain is referred to as arthralgia. When four or more joints are involved, the arthritis is referred to as polyarthritis. When two or three joints are involved, it is referred to as oligoarthritis.
                    When only a single joint is involved, it is referred to as monoarthritis.
                </h6>
                <h4 style="color:magenta">Arthritis Symptoms</h4>
                <h6>Joint pain can be caused by injury affecting any of the ligaments, bursae, or tendons surrounding the joint. Injury can also affect the ligaments, cartilage, and bones within the joint.
                   Pain is also a feature of joint inflammation (arthritis, such as rheumatoid arthritis and osteoarthritis) and infection, and extremely rarely it can be a cause of cancer of the joint.
                  <br/>
                  Symptoms and signs associated with joint pain can include
                    <ul>
                      <li>Joint redness</li>
                      <li>Joint swelling</li>
                      <li>Joint tenderness</li>
                      <li>Joint warmth</li>
                      <li>Limping</li>
                      <li>Locking of the joint</li>
                      <li>Stifness</li>
                    </ul>  
                </h6>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-success" data-dismiss="modal">close</button>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li>
            <a href="#ref2" data-toggle="modal" style="font-size:25px;color:orangered">
                Asthma
              </a>
              <div id="ref2" class="modal fade">
                <div class="modal-dialog modal-lg modal-dialog-centered">
                  <div class="modal-content">
                    <div class="modal-header d-block mx-auto text-danger">
                      <h3 >ASTHMA</h3>
                    </div>
                    <div class="modal-body">
                    <img src="assets\asthma.jpg" width="200px" height="150px">
                    <h4 style="color:mediumvioletred"><br/>What is asthma?</h4>
                    <h6 >Asthma is a complex clinical syndrome of chronic airway inflammation characterized by recurrent, reversible, airway obstruction. 
                      Airway inflammation also leads to airway hyperreactivity, which causes airways to narrow in response to various stimuli.
                    </h6>
                    <h4 style="color:maroon">Asthma Symptoms and Signs</h4>
                    <h6>Symptoms of asthma develop as a result of the narrowing and inflammation of the airways. Wheezing is a characteristic symptom of asthma, along with shortness of breath.
                       Chest pain or tightness can accompany an asthma attack.<br/>
                       Asthma Related Symptoms and Signs:
                       <ul>
                         <li>Wheezing</li>
                         <li>Shortness of breath</li>
                         <li>Cough</li>
                       </ul>
                    </h6>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-success" data-dismiss="modal">close</button>
                    </div>
                  </div>
                </div>
              </div>
        </li>
        <li>
        <a href="#ref3" data-toggle="modal" style="font-size:25px;color:limegreen">
            Blood Pressure
          </a>
          <div id="ref3" class="modal fade">
            <div class="modal-dialog modal-lg modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header d-block mx-auto">
                  <h3>BLOOD PRESSURE</h3>
                </div>
                <div class="modal-body">
                <img src="assets\bloodpressure.gif" width="200px" height="150px">
                <h4 style="color:mediumvioletred"><br/>What is high blood pressure?</h4>
                <h6 class="ml-2">High blood pressure (hypertension) is defined as high pressure (tension) in the arteries, which are the vessels that carry 
                  blood from the heart to the rest of the body.
                  <br/>
                  Blood pressure readings are given as two numbers:
                    <ul>
                      <li>The systolic blood pressure (the top number) equals the pressure in the arteries as the heart contracts.</li>
                      <li>The diastolic pressure (the bottom number) is the pressure in the arteries as the heart relaxes.</li>
                  </ul>
                </h6>
                <h4 style="color:indigo">
                    High Blood Pressure Treatment
                </h4>
                <h6>
                    It is beneficial to add potassium to the diet. Studies show that people who consume more potassium have lower blood pressures.
                     Good sources of potassium include:
                     <br/>
                     <ul>
                       <li>bananas</li>
                       <li>melons</li>
                       <li>oranges</li>
                       <li>spinach</li>
                       <li>zucchini.</li>
                     </ul>
                </h6>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-success" data-dismiss="modal">close</button>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li>
            <a href="#ref4" data-toggle="modal" style="font-size:25px;color:goldenrod">
                Cancer
              </a>
              <div id="ref4" class="modal fade">
                <div class="modal-dialog modal-lg modal-dialog-centered">
                  <div class="modal-content">
                    <div class="modal-header d-block mx-auto text-danger">
                      <h3>CANCER</h3>
                    </div>
                    <div class="modal-body">
                    <img src="assets\cancer.jpg" width="200px" height="150px">
                    <h4 style="color:blue"><br/>What is cancer?</h4>
                    <h6 >Cancer is the uncontrolled growth of abnormal cells anywhere in a body. These abnormal cells are termed cancer cells, malignant cells, or tumor cells. These cells can infiltrate normal body tissues. Many cancers and the abnormal cells that compose the cancer tissue are further identified by the name of the tissue that the abnormal cells originated from (for example, breast cancer, lung cancer, colon cancer).
                       Cancer is not confined to humans; animals and other living organisms can get cancer. Below is a schematic that shows normal cell division and how when a cell is damaged or altered without repair to its system, the cell usually dies. 
                       Also shown is what occurs when such damaged or unrepaired cells do not die and become cancer cells and show uncontrolled division and growth -- a mass of cancer cells develop.
                    </h6>
                    <h4 style="color:crimson">
                        What are cancer symptoms and signs?
                    </h4>
                    <h6>
                        The American Cancer Society describes seven warning signs and/or symptoms that a cancer may be present, and which should prompt a person to seek medical attention.
                         The word CAUTION can help you remember these.
                         <br/>
                         <ul>
                           <li>Change in bowel or bladder habits</li>
                           <li>Thickening or lump in the breast, testicles, or elsewhere</li>
                           <li>Indigestion (usually chronic) or difficulty swallowing</li>
                           <li>Obvious change in the size, color, shape, or thickness of a wart or mole</li>
                           <li>Nagging cough or hoarseness</li>
                         </ul>
                    </h6>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-success" data-dismiss="modal">close</button>
                    </div>
                  </div>
                </div>
              </div>
        </li>
        <li>
            <a href="#ref5" data-toggle="modal" style="font-size:25px;color:crimson">
                Cholestrol
              </a>
              <div id="ref5" class="modal fade">
                <div class="modal-dialog modal-lg modal-dialog-centered">
                  <div class="modal-content">
                    <div class="modal-header d-block mx-auto text-danger">
                      <h3>CHOLESTROL</h3>
                    </div>
                    <div class="modal-body">
                    <img src="assets\cholestrol.jpg" width="250px" height="200px">
                    <h4 style="color:blue"><br/>What is cholesterol?</h4>
                    <h6>
                        Cholesterol is a chemical compound that the body requires as a building block for cell membranes and for hormones like estrogen and testosterone.
                         The liver produces about 80% of the body's cholesterol and the rest comes from dietary sources like meat, poultry, eggs, fish, and dairy products. 
                         Foods derived from plants contain no cholesterol.Cholesterol content in the bloodstream is regulated by the liver. After a meal, cholesterol in the diet is absorbed from the small intestine and metabolized and stored in the liver.
                          As the body requires cholesterol, it may be secreted by the liver.When too much cholesterol is present in the body, it can build up in deposits called plaque along the inside walls of arteries, causing them to narrow.
                    </h6>
                    <h4 style="color:crimson">
                        What medications are available to treat high cholesterol?
                    </h4>
                    <h6>
                        Four types of drug classes are used to lower cholesterol levels.
                         <br/>
                         <ul>
                           <li>Statins: A variety of statin drugs are on the market including simvastatin (Zocor), atorvastatin (Lipitor), pravastatin (Pravachol), fluvastatin (Lescol),
                              lovastatin (Mevacor), and rosuvastatin (Crestor). These drugs primarily decrease LDL.
                           </li>
                           <li>Niacin: Niaspan is the prescription form of niacin and decreases LDL and triglycerides as well as increases HDL</li>
                           <li>Bile acid resins: Cholestyramine (Questran) is a bile acid resin and decreases LDL.</li>
                           <li>Fibric acid derivatives: Fibric acid resins lower LDL and include gemfibrozil (Lopid) and fenofibrate (Tricor).</li>
                         </ul>
                    </h6>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-success" data-dismiss="modal">close</button>
                    </div>
                  </div>
                </div>
              </div>
        </li>
      </ul>
    </div>
    <div class="col-sm-4">
        <ul>
            <li>
                <a href="#ref6" data-toggle="modal" style="font-size:25px;color:darkmagenta">
                    Cold & Flu
                  </a>
                  <div id="ref6" class="modal fade">
                    <div class="modal-dialog modal-lg modal-dialog-centered">
                      <div class="modal-content">
                        <div class="modal-header d-block mx-auto text-danger">
                          <h3>COLD & FLU</h3>
                        </div>
                        <div class="modal-body">
                        <img src="assets\cold.jpg" width="250px" height="200px">
                        <h4 style="color:darkgreen"><br/>What is the common cold? What causes the common cold?</h4>
                        <h6 >The common cold is a self-limited contagious disease that can be caused by a number of different types of viruses. The common cold is medically referred to as a viral upper respiratory tract infection.
                           Symptoms of the common cold may include cough, sore throat, low-grade fever, nasal congestion, runny nose, and sneezing. More than 200 different types of viruses are known to cause the common cold, with rhinovirus causing approximately 30%-40% of all adult colds.
                        </h6>
                        <h4 style="color:crimson">
                            What are the symptoms and signs of the common cold in adults, children, and infants? 
                        </h4>
                        <h6>
                            Common cold symptoms typically begin two to three days after acquiring the infection (incubation period), though this may vary depending on the type of virus causing the infection.
                             Individuals also tend to be most contagious during the initial two to three days of having symptoms. Cold viruses target mainly the upper respiratory tract (nose, sinuses, and throat). Symptoms and signs of the common cold may also vary depending on the virus responsible for the infection and may include
                             <br/>
                             <ul>
                               <li>Sneezing</li>
                               <li>Hoarness</li>
                               <li>Cough</li>
                               <li>Lowgrade fever</li>
                               <li>headache</li>
                             </ul>
                        </h6>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-success" data-dismiss="modal">close</button>
                        </div>
                      </div>
                    </div>
                  </div>
            </li>
            <li>
                <a href="#ref7" data-toggle="modal" style="font-size:25px;color:red">
                    Diabetes
                  </a>
                  <div id="ref7" class="modal fade">
                    <div class="modal-dialog modal-lg modal-dialog-centered">
                      <div class="modal-content">
                        <div class="modal-header d-block mx-auto text-danger">
                          <h3>DIABETES</h3>
                        </div>
                        <div class="modal-body">
                        <img src="assets\diabetes.jpg" width="250px" height="200px">
                        <h4 style="color:chocolate"><br/>What is diabetes?</h4>
                        <h6 >Diabetes mellitus is a group of metabolic diseases characterized by high blood sugar (glucose) levels that result from defects in insulin secretion, or its action, or both.
                           Diabetes mellitus, commonly referred to as diabetes (as it will be in this article) was first identified as a disease associated with "sweet urine," and excessive muscle loss in the ancient world. Elevated levels of blood glucose (hyperglycemia) lead to spillage of glucose into the urine, hence the term sweet urine.
                            Normally, blood glucose levels are tightly controlled by insulin, a hormone produced by the pancreas. Insulin lowers the blood glucose level. 
                            When the blood glucose elevates (for example, after eating food), insulin is released from the pancreas to normalize the glucose level by promoting the uptake of glucose into body cells. In patients with diabetes, the absence of insufficient production of or lack of response to insulin causes hyperglycemia. Diabetes is a chronic medical condition, meaning that although it can be controlled, it lasts a lifetime.
                        </h6>
                        <h4 style="color:blueviolet">
                            How do I know if I have diabetes?
                        </h4>
                        <h6>
                             <ul>
                               <li>Many people are unaware that they have diabetes, especially in its early stages when symptoms may not be present.</li>
                               <li>There is no definite way to know if you have diabetes without undergoing blood tests to determine your blood glucose levels (see section on Diagnosis of diabetes).</li>
                               <li>See your doctor if you have symptoms of diabetes or if you are concerned about your diabetes risk.</li>
                             </ul>
                        </h6>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-success" data-dismiss="modal">close</button>
                        </div>
                      </div>
                    </div>
                  </div>
            </li>
            <li>
                <a href="#ref8" data-toggle="modal" style="font-size:25px;color:blue">
                    Eyesight
                  </a>
                  <div id="ref8" class="modal fade">
                    <div class="modal-dialog modal-lg modal-dialog-centered">
                      <div class="modal-content">
                        <div class="modal-header d-block mx-auto text-danger">
                          <h3>EYESIGHT</h3>
                        </div>
                        <div class="modal-body">
                        <img src="assets\eyesight.jpg" width="250px" height="200px">
                        <h4 style="color:purple"><br/>What is eyesight?</h4>
                        <h6 >Visual perception is the ability to interpret the surrounding environment using light in the visible spectrum reflected by the objects in the environment. 
                          This is different from visual acuity which refers to how clearly a person sees (for example "20/20 vision"). A person can have problem with visual perceptual processing even if he/she has 20/20 vision.
                            The resulting perception is also known as visual perception, eyesight, sight, or vision (adjectival form: visual, optical, or ocular).
                             The various physiological components involved in vision are referred to collectively as the visual system, and are the focus of much research in linguistics, psychology, cognitive science, neuroscience, and molecular biology, collectively referred to as vision science.
                        </h6>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-success" data-dismiss="modal">close</button>
                        </div>
                      </div>
                    </div>
                  </div>
            </li>
            <li>
                <a href="#ref9" data-toggle="modal" style="font-size:25px;color:purple">
                    Fever
                  </a>
                  <div id="ref9" class="modal fade">
                    <div class="modal-dialog modal-lg modal-dialog-centered">
                      <div class="modal-content">
                        <div class="modal-header d-block mx-auto text-danger">
                          <h3>FEVER</h3>
                        </div>
                        <div class="modal-body">
                        <img src="assets\fever.jpg" width="250px" height="200px">
                        <h4 style="color:purple"><br/>What is a fever?</h4>
                        <h6 >A fever is a higher-than-normal body temperature and is a part of our body's natural response to infection.
                           The average normal body temperature is 98.6 degrees Fahrenheit. When your body's temperature rises a few degrees above normal, it is a sign that your body is fighting infection and is generally not cause for concern. In these cases, a fever is the response you want your body to have since it means that it is healthy enough to fight infection. For this reason it is not always a good idea to try and bring a fever down too quickly. 
                          However, a fever that goes above 102 degrees Fahrenheit is a cause for concern, and treatment should be initiated.
                            Aside from an elevated temperature, chills, and aches, a lack of energy and a flush complexion are common symptoms experienced by people with a fever.
                        </h6>
                        <h4 style="color:olive">
                            What causes a fever?
                        </h4>
                        <h6>
                            A fever has many causes and can be a symptom of almost any illness. Among the most common are:
                            <ul>
                              <li>Colds or flu</li>
                              <li>Earaches</li>
                              <li>Bronchitis</li>
                              <li>Strep throat</li>
                              <li>Mononucleosis</li>
                            </ul>
                        </h6>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-success" data-dismiss="modal">close</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
            <li>
                <a href="#a1" data-toggle="modal" style="font-size:25px;color:midnightblue">
                    Hearing & Ear
                  </a>
                  <div id="a1" class="modal fade">
                    <div class="modal-dialog modal-lg modal-dialog-centered">
                      <div class="modal-content">
                        <div class="modal-header d-block mx-auto text-danger">
                          <h3>HEARING & EAR</h3>
                        </div>
                        <div class="modal-body">
                        <img src="assets\hearing.jpg" width="250px" height="200px">
                        <h4 style="color:indianred"><br/>Ear Infection and Hearing Loss</h4>
                        <h6 >An ear infection may sometimes cause a temporary or reversible hearing loss. This generally occurs because the infection blocks sound from passing through the ear canal or middle ear to the inner ear. When sound is blocked like this, 
                          it is known as conductive hearing loss. You may hear sounds as muffled or indistinct.
                          <br/>
                          Types of infection that may cause temporary or reversible hearing loss include:
                          <ul>
                            <li>Inflammation or infection of the ear canal (otitis externa). This condition is often referred to as "swimmer's ear," though too much water in the ear is not the only cause.
                               Inflammation, swelling, or buildup (exudate) in the ear canal may block sound from moving to the middle ear. Hearing usually returns on its own after the infection goes away.
                              </li>
                              <li>
                                  Middle ear infection (otitis media). Swelling and pus may block sound from moving to the inner ear. Hearing usually returns on its own after the infection goes away. Untreated middle ear infections may cause permanent damage to the structures of the middle ear that results in permanent hearing loss. But this is rare.
                                   Most ear infections get better on their own, but sometimes antibiotics may be needed. And few ear infections cause permanent damage.
                              </li>
                              <li>
                                  Fluid in the space behind the eardrum (otitis media with effusion).
                                   This may occur with or without infection. Fluid buildup may distort sound or block its passage to the inner ear. Fluid behind the eardrum usually clears on its own, although the eardrum may burst if the fluid in the middle ear becomes infected.
                              </li>
                          </ul>
                        </h6>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-success" data-dismiss="modal">close</button>
                        </div>
                      </div>
                    </div>
                  </div>
            </li>
            <li>
                <a href="#a2" data-toggle="modal" style="font-size:25px;color:goldenrod">
                    HeatAttack
                  </a>
                  <div id="a2" class="modal fade">
                    <div class="modal-dialog modal-lg modal-dialog-centered">
                      <div class="modal-content">
                        <div class="modal-header d-block mx-auto text-danger">
                          <h3>HEART ATTACK</h3>
                        </div>
                        <div class="modal-body">
                        <img src="assets\heartattack.jpg" width="250px" height="200px">
                        <h4 style="color:green"><br/>What is a heart attack?</h4>
                        <h6 >A heart attack (also known as a myocardial infarction or MI) is the damage and death of heart muscle from the sudden blockage of a coronary artery by a blood clot. Coronary arteries are blood vessels that supply the heart muscle with blood and oxygen.
                           Blockage of a coronary artery deprives the heart muscle of blood and oxygen, causing injury to the heart muscle. Injury to the heart muscle causes chest pain and chest pressure sensation. If blood flow is not restored to the heart muscle within 20 to 40 minutes, irreversible death of the heart muscle will begin to occur. Muscle continues to die for six to eight hours at which time the heart attack usually is "complete." The dead heart muscle is eventually replaced by scar tissue.
                        </h6>
                        <h4 style="color:fuchsia">
                            What are the symptoms of a heart attack?
                        </h4>
                        <h6>
                            Although chest pain or pressure is the most common symptom of a heart attack, heart attack victims may experience a variety of conditions including:
                            <ul>
                              <li>Pain, fullness, and/or squeezing sensation of the chest</li>
                              <li>Jaw pain, toothache, headache</li>
                              <li>Shortness of breath</li>
                              <li>Nausea, vomiting, and/or general epigastric (upper middle abdomen) discomfort</li>
                              <li>Heartburn and/or indigestion</li>
                              <li>Arm pain (more commonly the left arm, but may be either arm)</li>
                            </ul>
                        </h6>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-success" data-dismiss="modal">close</button>
                        </div>
                      </div>
                    </div>
                  </div>
            </li>
        </ul>
      
    </div>
    <div class="col-sm-4">
        <ul>
            <li>
                <a href="#a3" data-toggle="modal" style="font-size:25px;color:goldenrod">
                    HIV/AIDS
                  </a>
                  <div id="a3" class="modal fade">
                    <div class="modal-dialog modal-lg modal-dialog-centered">
                      <div class="modal-content">
                        <div class="modal-header d-block mx-auto text-danger">
                          <h3>HIV/AIDS</h3>
                        </div>
                        <div class="modal-body">
                        <img src="assets\hiv.jpg" width="250px" height="200px">
                        <h4 style="color:firebrick"><br/>What is the history of HIV, and when was HIV discovered? HIV vs. AIDS</h4>
                        <h6 >The history of the human immunodeficiency virus (HIV) and acquired immunodeficiency syndrome (AIDS) dates back to 1981, when gay men with symptoms and signs of a disease that now are considered typical of AIDS were first described in Los Angeles and New York. 
                          The men had an unusual type of lung infection (pneumonia) called Pneumocystis carinii (now known as Pneumocystis jiroveci) pneumonia (PCP) and rare skin tumors called Kaposi's sarcomas. The patients were noted to have a severe reduction in a type of cell in the blood (CD4 cells) that is an important part of the immune system. 
                          These cells, often referred to as T cells, help the body fight infections. Shortly thereafter, this disease was recognized throughout the United States, Western Europe, and Africa. In 1983, researchers in the United States and France described the virus that causes AIDS, now known as HIV, belonging to the group of viruses called retroviruses. 
                          While HIV infection is required to develop AIDS, the actual definition of AIDS is the development of a low CD4 cell count.
                        </h6>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-success" data-dismiss="modal">close</button>
                        </div>
                      </div>
                    </div>
                  </div>
            </li>
            <li>
                <a href="#a4" data-toggle="modal" style="font-size:25px;color:firebrick">
                    Migrane
                  </a>
                  <div id="a4" class="modal fade">
                    <div class="modal-dialog modal-lg modal-dialog-centered">
                      <div class="modal-content">
                        <div class="modal-header d-block mx-auto text-danger">
                          <h3>MIGRANE</h3>
                        </div>
                        <div class="modal-body">
                        <img src="assets\migrane.jpg" width="250px" height="200px">
                        <h4 style="color:deeppink"><br/>What is a migraine headache?</h4>
                        <h6 >Although the term "migraine" is often used to describe any severe headache, a migraine headache is the result of specific physiologic changes that occur within the brain, and lead to the characteristic pain and associated symptoms of a migraine.
                            Migraines usually are associated with sensitivity to sound, light, and smells. This may be accompanied by nausea or vomiting. This type of headache often involves only one side of the head, but in some cases, patients may have pain bilaterally or on both sides. The pain is often described as throbbing or pounding and it may be made worse with physical exertion.
                            Not all headaches represent migraines, and migraine is not the only condition that can cause severe and debilitating headaches. For example, cluster headaches are very severe headaches that affect one side of the head in a recurrent manner (occurring in a "cluster" over time). The pain is sometimes described as "drilling," and can be worse than migraine pain in some cases. Cluster headaches are less common than migraine.
                            Tension headaches are a more common cause of headache. These occur due to contraction of the muscles of the scalp, face, and neck.
                        </h6>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-success" data-dismiss="modal">close</button>
                        </div>
                      </div>
                    </div>
                  </div>
            </li> 
        </ul>
    </div>
  </div>
</div>
