<div classs="container-fluid " >
    <div class="card pl-5" style="background-color: lightgrey">
        <br/>
        <h4 style="color:black" style="margin-top:200px">ContactUs:</h4>
        <h5 class="ml-5" style="color:black">We provide 24/7 support.If need any help contact us....</h5>
        <h5 class="ml-5" style="color:black">Details:</h5>
        <div class="row" style="padding-bottom: 500px">
          <div class="col-6">
          <h6 class="ml-5" style="color:black">Email:siva.sivachandra23@gmail.com.</h6>
          <h6 class="ml-5" style="color:black">Phone no:+91 9177167607.</h6>
          <h6 class="ml-5" style="color:black">Tollfree no:1-777-444-333.</h6>
          </div>
          <div class="col-6">
          <h6 class="ml-5" style="color:black">Address:Plot no:77,near hanuman Temple,Opp Andhrabank ATM,Second Campus Institute.</h6>
          <h6 class="ml-5">Kukatpally,Hyderabad.</h6>
          </div>
        </div>
      </div>
    </div>